* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 822px;
    min-height: 772px;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    height: 4rem;
    background-color: rgba(128, 128, 128, 0.253);
    align-items: center;
    justify-content: center;
}

main {
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

footer {
    display: flex;
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.253);
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    gap: 5rem;
    margin: 1.5rem;
}

.states-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.states-list {
    background-color: rgba(128, 128, 128, 0.253);
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 2%;
    padding: 1rem;
}

.map img {
    height: 500px;
    width: 500px;
    padding-left: 2rem;
}

.my-legend{
    padding-left: 2rem;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
